$card_bgd:#323232;
$text_color:#262626;
$text_bgd:#00bdaa;
$shadow: 0 1rem 3rem rgba(0, 0, 0, 0.9);
$card_text_bgd: #e3e3e3;
$stars:#FFC300;

$bground_color:
    (
      1:#15616d,
      2:#001524,
      3:#e3e3e3,
      4:#ff7d00,
      5:#ffecd1,
    );