@mixin card_size($height,$width){
    height: $height;
    width: $width;
}
@mixin child_position($position){
    display: flex;
    justify-content: $position;
}
@mixin phone($size){
    @media screen and (max-width: $size) {
        grid-template-columns: repeat(auto-fill); /* hacer una media query */
        grid-template-rows: repeat(auto-fill);
        gap: 2rem;
    }
}
/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 60%; 
    background: map-get($bground_color, 5)
}
header{
    /* CSS logo */
    .logo{
        display: flex;
        justify-content: center;
        background: map-get($bground_color, 5);
    }

    /* CSS navegation bar */
    .nav_container{
        display: flex;
        flex-direction: row;
        white-space: 0;
        justify-content: center;
        background: map-get($bground_color, 4);
    }
    .item_container{
        display: block;
        border: 1rem;
        font-size: 5rem;
        padding: 1rem;
        a{
            text-decoration: none;
            letter-spacing: 0.5rem;
            color: black;
        }
    }
}
main{
    /* CSS for card on home, hotels and concerts pages */
    .zoom{
        &:hover{
            transform: scale(1.05);
        }
    }
    .wlcm{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 5rem;
        color: $text_color;
        background: map-get($bground_color, 1);
        margin-bottom: 0;
    }
    .card_order{
        @include card_size(auto, 100%);
        @include phone(500px);
        width: 90%;
        max-width: 1200px;
        min-height: 100vh;
        gap: 2rem;
        margin: 0 auto;               /* Using flexbox for the responsive */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }
    .card_container{
        @include card_size(700px, 90%);
        display: grid;
        place-items: center;
        width: 90%;
        max-width: 2400px;
        flex-basis: 18rem;
    }
    .card{
        @include card_size(55rem, 30rem);
        background-size: cover;
        box-shadow: $shadow;
        border-radius: 10px 50px ;
        @extend .zoom;
    }
    .card_top{
        @include card_size(50%, 100%);
        padding: 3rem;
        display: grid;
        place-items: center;
    }
    /* CSS for home pages images */
    .img1{
        background-image: url(../images/paris.webp); 
        background-size: cover; 
        background-position-x: left 54%;
        &:hover{
            opacity: 2;
            background-image: url(../images/paris_couple.jpg);
        }
    }
    .img2{
        background-image: url(../images/lasvegas.png); 
        background-size: cover; 
        background-position-x: left 55%;
        &:hover{
            opacity: 2;
            background-image: url(../images/casino.jpg);
        }
    }
    .img3{
        background-image: url(../images/roma.jpeg); 
        background-size: cover; 
        background-position-x: left 35%;
        &:hover{
            opacity: 2;
            background-image: url(../images/pisa_tower.jpg);
        }
    }
    .img4{
        background-image: url(../images/hawaii.png); 
        background-size: cover; 
        background-position-x: left 70%;
        &:hover{
            opacity: 2;
            background-image: url(../images/hawaii_beach.jpg);
        }
    }
    .img5{
        background-image: url(../images/disney.png); 
        background-size: cover; 
        background-position-x: left 50%;
        &:hover{
            opacity: 2;
            background-image: url(../images/disney_suits.jpg);
        }
    }
    .img6{
        background-image: url(../images/bahamas.jpeg); 
        background-size: cover; 
        background-position-x: left 50%;
        &:hover{
            opacity: 2;
            background-image: url(../images/bahamas_group.jpeg);
        }
    }
    /* CSS for concerts page images */
    .concert_img1{
        background-image: url(../images/the_weeknd1.jpg); 
        background-size:cover; 
        background-position-x: left 54%;
        &:hover{
            opacity: 2;
            background-image: url(../images/the_weeknd2.jpg);
        }
    }
    .concert_img2{
        background-image: url(../images/ladygaga1.jpg); 
        background-position-x: left 55%;
        background-size: cover;
        &:hover{
            opacity: 2;
            background-image: url(../images/ladygaga2.webp);
        }
    }
    .concert_img3{
        background-image: url(../images/lilbaby1.jpg); 
        background-position-x: 35%;
        background-size: cover;
        &:hover{
            opacity: 2;
            background-image: url(../images/lilbaby2.jpeg);
        }
    }
    .concert_img4{
        background-image: url(../images/tameimpala1.jpeg); 
        background-position-x: left 40%;
        background-size: cover;
        &:hover{
            opacity: 2;
            background-image: url(../images/tameimpala2.webp);
        }
    }
    .concert_img5{
        background-image: url(../images/flume1.jpg); 
        background-position-x: 50%;
        background-size: cover;
        &:hover{
            opacity: 2;
            background-image: url(../images/flume2.webp);
        }
    }
    .concert_img6{
        background-image:url(../images/paramore1.jpeg); 
        background-position-x: left 50%;
        background-size: cover;
        &:hover{
            opacity: 2;
            background-image: url(../images/paramore2.webp);
        }
    }
    /* CSS for hotels page images */
    .hotel_img1{
        background-image: url(../images/hilton.jpg); 
        background-size: cover; 
        background-position-x: left 54%;
    }
    .hotel_img2{
        background-image: url(../images/plaza_hotel.jpg); 
        background-size: cover; 
        background-position-x: left 55%;
    }
    .hotel_img3{
        background-image: url(../images/eco_lodge.jpg); 
        background-size: cover; 
        background-position-x: left 35%;
    }
    .hotel_img4{
        background-image: url(../images/raffle_hotel.jpg); 
        background-size: cover; 
        background-position-x: left 70%;
    }
    .hotel_img5{
        background-image: url(../images/sheraton_hotel.jpg); 
        background-size: cover; 
        background-position-x: left 50%;
    }
    .hotel_img6{
        background-image: url(../images/kahala_hotel.jpg); 
        background-size: cover; 
        background-position-x: left 50%;
    }

    .card_bottom{
        width: 100%;
        height: 50%;
        background: map-get($bground_color, 5);
        padding: 3rem;
        display: grid;
        place-items: center;
    }
    .description_text{
        font-size: 4.5rem
    }
    .stars{
        i{
            flex-basis: 3rem;
            font-size: 2rem;
            color: $stars;
            &:last-child{
                opacity: 0.7;
            }
        }
    }
    .price{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
        box-shadow: $shadow;
        position: relative;
        width: 22rem;
        height: 5.5rem;
        background:map-get($bground_color, 1);
        border-radius: 1rem;
        span{
            display: flex;
            flex-direction: column;
            color: map-get($bground_color, 3);
            font-size: 1.5rem;
            gap: 3rem;
            text-shadow: $shadow;
            align-content: flex-start;
            font-size: 4rem;
        }
    }
    /* CSS for account page */
    .profile_pic{
        width: 160px;
        height: 160px;
    }
    .container1{
        width: 100%;
        height: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background-color:#ff9a3c;
        border-radius: 2rem;
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .wrap{
        background: #155263;
        padding: 4rem;
    }
    .color_wrap{
        background: #155263;
        margin-bottom: 0rem !important;
    }
    .contact_wrap{
        background: #155263;
        padding: 12rem;
    }
    .text_style_personal_info h3{
        font-size: 5rem;
    }
    .text_style_personal_info p{
        font-size: 3rem;
    }
    .text_style_booking_info th{
        font-size: 5rem;
    }
    .text_style_booking_info td{
        font-size: 3rem;
    }
    
    .text_style_nav_bar a{
        font-size: 2.5rem;
    }
    .sign_up_container{
        width: 800px;
        height: 850px;
    }
    .text_style label{
        font-size: 3rem;
    }
    .text_style div{
        font-size: 2.5rem;
    }
    .text_style h1{
        font-size: 4.5rem;
    }
    .text_style p{
        font-size: 4rem;
    }
    .text_style button{
        font-size: 2rem;
    }
    /* CSS for the foot */
    .foot {
        display: flex;
        text-align: center;
        flex-direction: row;
        gap: 0.5rem;
        background:#FFC300
    }
}