*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: sans-serif;
}

html{
    font-size: 60.5%;
    background: #e3e3e3;
}
    /* GRID Y FLEXBOX PARA LAS CARTAS (SE USO GRID PARA CREAR LAYOUT DE LAS CARTAS
    Y FLEXBOX PARA ACOMODAR EL CONTENIDO DENTRO DE LAS MISMA */
.backg{
    background: #f1ae04;
} 
.wlcm p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5rem;
    color:#262626;
    background: #00bdaa;
    margin-bottom: 0;
}
.card_order{
    width: 100%;
    height: auto;
    display: grid;
    background: #323232;
    background-attachment: scroll;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-auto-rows: minmax(125px, auto); */
}

.card_container{
    width: 90%;
    height: 700px;
    /* background: #262626;
    background-attachment: fixed; */
    display: grid;
    place-items: center;

}
.card{
    width: 30rem;
    height: 55rem;
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.9);
}

.card_top{
    width: 100%;
    height: 50%;
    padding: 3rem;
    display: grid;
    place-items: center;

}

.card_bottom{
    width: 100%;
    height: 50%;
    background: #e3e3e3;
    padding: 3rem;
    display: grid;
    place-items: center;

}

.card_bottom_text{
    display: flex;
    flex-direction: column;
    color: #353935;
    gap: 3rem;
    text-shadow: 0 2rem 6rem rgba(0, 0, 0, 2);
    align-content: flex-start;
}
.description_text{
    font-size: 4.5rem;
}

  /* TAMAÑO DE PANTALLA DE UN TELEFONO */

@media all and (max-width: 1200px) {
    .card_order {
        grid-template-columns: repeat(1, 1fr);
    }
}

    /* CSS PARA LAS ESTRELLAS Y EL PRECIO DE LOS PAQUETES */
.stars{
    margin-bottom: 1rem;
    margin-top: 0.1rem;
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
}

.stars i{
    flex-basis: 3rem;
    font-size: 2rem;
    color: #FFC300;
}

.stars i:last-child{
    opacity: 0.7;
}

.price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.9);
    position: relative;
    width: 22rem;
    height: 5.5rem;
    background:#00bdaa;
    border-radius: 1rem;
}
.price span{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: 1.5rem;
    gap: 3rem;
    text-shadow: 0 1rem 3rem rgba(0, 0, 0, 1);
    align-content: flex-start;
    font-size: 4rem;
}

    /* Imagenes para el background de las tarjetas,
    al colocar el cursor del mouse cambia de imagen*/

.img1{
    background-image: url(images/paris.webp); 
    background-size: cover; 
    background-position-x: left 54%;
}
.img1:hover{
    opacity: 2;
    background-image: url(images/paris_couple.jpg);
}

.img2{
    background-image: url(images/lasvegas.png); 
    background-position-x: left 55%;
    background-size: cover;
}
.img2:hover{
    opacity: 2;
    background-image: url(images/casino.jpg);
}

.img3{
    background-image: url(images/roma.jpeg); 
    background-position-x: 35%;
    background-size: cover;
}
.img3:hover{
    opacity: 2;
    background-image: url(images/pisa_tower.jpg);
    background-size: cover;
}

.img4{
    background-image: url(images/hawaii.png); 
    background-position-x: left 70%;
    background-size: cover;
}
.img4:hover{
    opacity: 2;
    background-image: url(images/hawaii_beach.jpg);
}

.img5{
    background-image: url(images/disney.png); 
    background-position-x: 50%;
    background-size: cover;
}
.img5:hover{
    opacity: 2;
    background-image: url(images/disney_suits.jpg);
}
.img6{
    background-image:url(images/bahamas.jpeg); 
    background-position-x: left 50%;
    background-size: cover;
}
.img6:hover{
    opacity: 2;
    background-image: url(images/bahamas_group.jpeg);
}
.concert_img1{
    background-image: url(images/the_weeknd1.jpg); 
    background-size:cover; 
    background-position-x: left 54%;
}
.concert_img1:hover{
    opacity: 2;
    background-image: url(images/the_weeknd2.jpg);
}

.concert_img2{
    background-image: url(images/ladygaga1.jpg); 
    background-position-x: left 55%;
    background-size: cover;
}
.concert_img2:hover:hover{
    opacity: 2;
    background-image: url(images/ladygaga2.webp);
}

.concert_img3{
    background-image: url(images/lilbaby1.jpg); 
    background-position-x: 35%;
    background-size: cover;
}
.concert_img3:hover{
    opacity: 2;
    background-image: url(images/lilbaby2.jpeg);
}

.concert_img4{
    background-image: url(images/tameimpala1.jpeg); 
    background-position-x: left 40%;
    background-size: cover;
}
.concert_img4:hover{
    opacity: 2;
    background-image: url(images/tameimpala2.webp);
}

.concert_img5{
    background-image: url(images/flume1.jpg); 
    background-position-x: 50%;
    background-size: cover;
}
.concert_img5:hover{
    opacity: 2;
    background-image: url(images/flume2.webp);
}
.concert_img6{
    background-image:url(images/paramore1.jpeg); 
    background-position-x: left 50%;
    background-size: cover;
}
.concert_img6:hover{
    opacity: 2;
    background-image: url(images/paramore2.webp);
}
/* Zoom al poner el cursor */
.zoom:hover {
    transform: scale(1.05);
}
.nav_zoom:hover a{
    transform: scale(1.05);
}
.profile_pic{
    width: 160px;
    height: 160px;
}
/* CSS para la pagina de la informacion personal */
.container1{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color:#ff9a3c;
    border-radius: 2rem;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.wrap{
    background: #155263;
    padding: 4rem;
}
.color_wrap{
    background: #155263;
    margin-bottom: 0rem !important;
}
.contact_wrap{
    background: #155263;
    padding: 12rem;
}
.text_style_personal_info h3{
    font-size: 5rem;
}
.text_style_personal_info p{
    font-size: 3rem;
}
.text_style_booking_info th{
    font-size: 5rem;
}
.text_style_booking_info td{
    font-size: 3rem;
}

.text_style_nav_bar a{
    font-size: 2.5rem;
}
.sign_up_container{
    width: 800px;
    height: 850px;
}
/* Css para la pagina de contacto */
.text_style label{
    font-size: 3rem;
}
.text_style div{
    font-size: 2.5rem;
}
.text_style h1{
    font-size: 4.5rem;
}
.text_style p{
    font-size: 4rem;
}
.text_style button{
    font-size: 2rem;
}
/* Css para el footer */
.foot {
    display: flex;
    text-align: center;
    flex-direction: row;
    gap: 0.5rem;
    background:#FFC300
}