/*  body{
    background-image: url(images/airplane_sky.png);
    background-size: cover; 
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
}

html{
    font-size: 60.5%;
}
    /* GRID Y FLEXBOX PARA LAS CARTAS (SE USO GRID PARA CREAR LAYOUT DE LAS CARTAS
    Y FLEXBOX PARA ACOMODAR EL CONTENIDO DENTRO DE LAS MISMA */

.wlcm{
    font-size: 8rem;
    color: #353935;
    background: #40E0D0;
    display: flex;
    justify-items: center;
}
.card_order{
    width: 100%;
    height: auto;
    display: grid;
    background: #262626;
    background-attachment: scroll;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-auto-rows: minmax(125px, auto); */
}

.container{
    width: 100%;
    height: 100vh;
    /* background: #262626;
    background-attachment: fixed; */
    display: grid;
    place-items: center;

}
.wrapper{
    padding: 3rem;
}

.card{
    width: 30rem;
    height: 55rem;
    /* background: #eee; */
    /* background-image: url(../Nike_Cards/images/paris_card.jpeg); */
    background-size: cover;
    border-radius: 2.5rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.9);
    /* position: relative; */
    /* background-color: rgba(0,0,0,.5); */
}

.card_top{
    width: 100%;
    height: 50%;
    /* background: #f1ae04 */;
    padding: 3rem;
    border-radius: 2.5rem 2.5rem 0 0;
    display: grid;
    place-items: center;
    
}

/* .img_top{
    width: 30rem;
}

.img_bottom{
    width: 30rem;
}  */

.card_top_text{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: 1.5rem;
    gap: 3rem;
    text-shadow: 0 2rem 6rem rgba(0, 0, 0, 2);
    align-content: flex-start;

}

.card_bottom{
    width: 100%;
    height: 50%;
    /* background: #f1ae04 */;
    padding: 3rem;
    border-radius: 2.5rem 2.5rem 0 0;
    display: grid;
    place-items: center;

}

.card_bottom_text{
    display: flex;
    flex-direction: column;
    color: #353935;
    font-size: 3rem;
    gap: 3rem;
    text-shadow: 0 2rem 6rem rgba(0, 0, 0, 2);
    align-content: flex-start;
}

/* @media (max-width: 0px) {
    .card_order{
      background: #262626;
    }
  } */

  /* TAMAÑO DE PANTALLA DE UN TELEFONO */

@media all and (max-width: 1200px) {
    .card_order {
        grid-template-columns: repeat(1, 1fr);
    }
}

    /* CSS PARA LAS ESTRELLAS Y EL PRECIO DE LOS PAQUETES */
.stars{
    margin-bottom: 1rem;
    margin-top: 0.1rem;
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
}

.stars i{
    flex-basis: 3rem;
    font-size: 2rem;
    color: #FFC300;
}

.stars i:last-child{
    opacity: 0.7;
}

.price{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.9);
    position: relative;
    width: 20.5rem;
    height: 5.5rem;
    background: #DE3163;
    border-radius: 1rem;
}
.price span{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: 1.5rem;
    gap: 3rem;
    text-shadow: 0 2rem 6rem rgba(0, 0, 0, 2);
    align-content: flex-start;
    font-size: 4rem;
}

    /* Imagenes para el background de las tarjetas,
    al colocar el cursor del mouse cambia de imagen*/
    
.img1{
    background-image: url(images/paris_card.jpeg); 
    background-size: cover; 
    background-position-x: left 54%;
}
.img1:hover{
    opacity: 2;
    background-image: url(images/paris_couple.jpg);
}

.img2{
    background-image: url(images/lasvegas.png); 
    background-position-x: left 55%;
}
.img2:hover:hover{
    opacity: 2;
    background-image: url(images/casino.jpg);
}

.img3{
    background-image: url(images/roma.jpeg); 
    background-position-x: 35%;
}
.img3:hover{
    opacity: 2;
    background-image: url(images/pisa_tower.jpg);
}

.img4{
    background-image: url(images/hawaii.png); 
    background-position-x: left 70%;
}
.img4:hover{
    opacity: 2;
    background-image: url(images/hawaii_beach.jpg);
}

.img5{
    background-image: url(images/disney.png); 
    background-position-x: 50%;
}
.img5:hover:hover{
    opacity: 2;
    background-image: url(images/disney_suits.jpg);
}
.img6{
    background-image:url(images/bahamas.jpeg); 
    background-position-x: left 50%;
}
.img6:hover:hover{
    opacity: 2;
    background-image: url(images/bahamas_group.jpeg);
}

#form1{
    background-color: rgba(128, 128, 128, 0.517);
    margin: 10px;
}
#form1 label{
    font-family: Helvetica;
    display: block;
    padding: 5px;
}
#form1 label input:focus{
    border-radius: 5px;
}

.foot {
    display: flex;
    text-align: center;
    flex-direction: row;
    gap: 0.5rem;
    background:#FFC300
}

/* CSS para hacer zoom al colocar el cursor  */
.zoom:hover {
    transform: scale(1.05);
}
.nav_zoom:hover a{
    transform: scale(1.05);
}

/* Menu de navegacion mejorado */

.nav_container{
    height: auto;
    padding: 15px;
    font-size: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.9);
    background: #DE3163;
}

.nav_container a{
    padding: 10px;
    display: flex;
    justify-content: center;
    text-shadow: 0 2rem 6rem rgba(0, 0, 0, 2);
    color: aliceblue;
    text-decoration: none;

}
